<div class="jumbotron center">
     <h1>modern, minimal elegant wedding site in minutes!</h1>
     <% if  user_signed_in? %>
     		<h4>Thanks for signing in</h4>
     	<div ng-app="notes" ng-controller="NotesCtrl">
     		{{hello}}<br>
 			<div ng-repeat ="note in notes">
 				<h2>{{note.title}}</h2>
 				<p>{{note.body}}<p>
 			<div>
     	</div>
     <% else %>
	     <p>
	       <%= link_to "Log in", new_user_session_path, 
	       class: "btn btn-default btn-lg" %>
	       <%= link_to "Sign up", new_user_registration_path,
	        class: "btn btn-primary btn-lg" %>
	     </p>
	  <% end %>    
</div>